.research-cards-container .first-card-row [nz-card-grid] ,
.research-cards-container .third-card-row [nz-card-grid] ,
.research-cards-container .second-card-row [nz-card-grid] {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .3s;
    animation-duration: .3s;
}

.research-cards-container [nz-card-grid]:hover {
    transform: translate(0, -.35rem);
}

::ng-deep .ant-card-contain-grid.second-card-row .ant-card-body {
    justify-content: center;
}

.research-cards-container {
    max-width: 80rem;
    margin: 0 auto;
}

.research-card h2 {
    color: rgb(17 24 39);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.75rem;
    margin-bottom: 0.75rem;
}

 .research-card p {
    color: rgb(75 85 99);
    line-height: 1.625;
    font-size: 1.125rem;
 }

 .research-card {
    padding: 1.2rem 2rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
 }

.third-card-row .research-card  {
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

 .research-card svg {
    color: rgb(37, 99, 235);
    width: 2rem;
    height: 2rem;
    margin-bottom: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flab-research {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgb(249 250 251);
}

.research-header {
    margin-bottom: 4rem;
    max-width: 51rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 4rem;
}

.research-header h1 {
    color: rgb(17 24 39);
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2.5rem;
}

.research-header p {
    color: rgb(75 85 99);
    line-height: 1.75rem;
    font-size: 1.25rem;
}

.flab-research .ant-card {
    background-color: rgb(249 250 251);
    border: none;
}

.flab-research .ant-card-grid {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
    border-radius: .5rem;
}

.flab-research .ant-card-grid:hover {
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / .1), 0 8px 10px -6px rgb(0 0 0 / .1);
}

.research-svg-wrapper {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .3s;
    animation-duration: .3s;
    background-color: hsl(220 65% 52% / .1);
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    position: relative;
    top: -10px;
}

.research-cards-container [nz-card-grid]:hover .research-svg-wrapper {
  background-color: hsl(220 65% 52% / .3); 
}



@media (max-width: 576px) {
    .research-card {
        padding: 0;
        padding-top: 2.5rem;
        padding-bottom: 0 !important; 
    }

    .flab-research .ant-card-grid {
        padding: 22px;
    }

    .research-card p {
        font-size: 1.1rem;
    }

    .flab-research {
        padding-bottom: 2rem;
    }
}

@media (min-width: 1200px) {
    .research-cards-container .first-card-row [nz-card-grid] ,
    .research-cards-container .second-card-row [nz-card-grid] {
        min-height: 570px;
    }
}