<div class="flab-research">
    <div class="research-header">
        <h1>Our Research</h1>
        <p>At Franca Lab, we unite biology and engineering to advance cancer prevention and tissue regeneration, using cutting-edge models like organs-on-a-chip and computational systems to develop targeted therapies and train the next generation of scientists.</p>
    </div>
    
    <div class="research-cards-container">
        <nz-card class="first-card-row">
            <div nz-card-grid>
                <div class="research-card">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-microscope-icon lucide-microscope"><path d="M6 18h8"/><path d="M3 22h18"/><path d="M14 22a7 7 0 1 0 0-14h-1"/><path d="M9 14h2"/><path d="M9 12a2 2 0 0 1-2-2V6h6v4a2 2 0 0 1-2 2Z"/><path d="M12 6V3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v3"/></svg>
                    <h2>Investigating the interactions between immune cells and biomaterials</h2>
                    <p>This research pillar focuses on investigating the biological mechanisms underlying cell responses to biomaterials. Specifically, we explore how these interactions can be harnessed to activate the body’s innate regenerative capabilities, aiming to enhance the repair and regeneration of dental, oral, and craniofacial tissues. This work builds on our expertise in biomaterials, wound healing and immune modulation, providing valuable insights into designing materials that optimize tissue healing.</p>
                </div>
            </div>
            <div nz-card-grid>
                <div class="research-card">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dna-icon lucide-dna"><path d="m10 16 1.5 1.5"/><path d="m14 8-1.5-1.5"/><path d="M15 2c-1.798 1.998-2.518 3.995-2.807 5.993"/><path d="m16.5 10.5 1 1"/><path d="m17 6-2.891-2.891"/><path d="M2 15c6.667-6 13.333 0 20-6"/><path d="m20 9 .891.891"/><path d="M3.109 14.109 4 15"/><path d="m6.5 12.5 1 1"/><path d="m7 18 2.891 2.891"/><path d="M9 22c1.798-1.998 2.518-3.995 2.807-5.993"/></svg>
                    <h2>Understanding the mechanisms for cancer dissemination through the lymphatic system</h2>
                    <p>This pillar of our research focuses on investigating the complex interactions between the lymphatic vessels and the extracellular matrix, particularly in oral and craniofacial tissues. We aim to understand how these interactions influence both tissue regeneration and cancer progression. By using tissue engineering and advanced model systems, we study the dynamic crosstalk between lymphatic vessels, immune cells and the ECM to uncover their roles in supporting tissue repair and regulating tumor growth and metastasis.</p>
                </div>
            </div>
        </nz-card>

        <nz-card class="second-card-row">
            <div nz-card-grid>
                <div class="research-card">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-cpu-icon lucide-cpu"><path d="M12 20v2"/><path d="M12 2v2"/><path d="M17 20v2"/><path d="M17 2v2"/><path d="M2 12h2"/><path d="M2 17h2"/><path d="M2 7h2"/><path d="M20 12h2"/><path d="M20 17h2"/><path d="M20 7h2"/><path d="M7 20v2"/><path d="M7 2v2"/><rect x="4" y="4" width="16" height="16" rx="2"/><rect x="8" y="8" width="8" height="8" rx="1"/></svg>
                    <h2>Dissecting the role of stromal and immune cells in driving the progression of dysplasia to cancer</h2>
                    <p>Here our focus is to uncover the molecular and cellular mechanisms driving the progression of precancerous oral lesions to invasive squamous cell carcinoma. Using organ-on-a-chip models, such as our ‘dysplasia on-a-chip’ platform, we aim to model the early interactions between cancer cells, the ECM, and the immune system. Our goal is to develop effective strategies to intercept cancer progression at its earliest stages.</p>
                </div>
            </div>
        </nz-card>
    </div>
</div>
