.bg-video-image {
    position: absolute;
    width: 100vw;
}

.flab-home-description {
    position: absolute;
    z-index: 2;
    color: white;
    top: 50%;
    text-align: left;
    left: 10%;
    transform: translateY(-50%);
    max-width: 54rem;
}

.flab-home-description h1 {
    font-size: 68px;
    line-height: 1;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    letter-spacing: 1px;
    line-height: 78px;
}

.flab-home-subtitle {
    font-size: 1.2rem;
    font-family: Roboto, sans-serif;
    line-height: 1.8rem;
    margin-top: 5rem;
}

.flab-home-description h2 {
    font-size: 26px;
    font-family: "Roboto", sans-serif;
    color: white;
    letter-spacing: 0.5px;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.flab-home-description p {
    font-size: 1.25rem;
    line-height: 2rem;
}

.bg-overlay {
    height: 100vh;
    position: relative;
    top: 0;
    width: 100vw;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2)), 
        linear-gradient(rgba(5, 40, 90, 0.35), rgba(0, 25, 50, 0.3)), 
        linear-gradient(rgba(10, 25, 45, 0), #0a1b2d);
}

.flab-home-container {
    position: relative;
}

.flab-video-wrapper {

}

.flab-video-wrapper video {
    width: 100%;
    object-fit: cover;
    background-position: 50%;
    background-size: cover;
    height: 100vh;
}

@media (max-width: 990px) {
    .flab-home-description h1 {
        font-size: 48px;
        line-height: 58px;
    }

    .flab-home-description h2 {
        margin-bottom: 2rem;
        margin-top: 0;
        font-size: 24px;
     }

    .flab-home-subtitle {
        font-size: 1.1rem;
        line-height: 1.5rem;
        margin-top: 3rem;
    }

    .flab-home-description {
        max-width: 75vw;
    }
}

@media (max-width: 576px) {
    .flab-home-description h1 {
        font-size: 25px;
        line-height: 35px;
    }

    .flab-home-description h2 {
        margin-bottom: 2rem;
        margin-top: 3rem;
        font-size: 18px;
    }

    .flab-home-subtitle {
        font-size: 16px;
        line-height: 20px;
        margin-top: 5rem;
        text-align: justify;
    }

    .flab-home-description {
        max-width: 75vw;
    }
}