<div class="flab-home-container">
    <div class="bg-video-image">

        <div data-poster-url="https://cdn.prod.website-files.com/6450ceffeba5aab3179b030a/6450eee4000ac132f945f05d_video-poster-00001.jpg" data-video-urls="https://cdn.prod.website-files.com/6450ceffeba5aab3179b030a/6450eee4000ac132f945f05d_video-transcode.mp4,https://cdn.prod.website-files.com/6450ceffeba5aab3179b030a/6450eee4000ac132f945f05d_video-transcode.webm" 
            data-autoplay="true" 
            data-loop="true" 
            data-wf-ignore="true" 
            class="flab-video-wrapper">

            <video id="7440abf4-8e30-4661-bd51-85eae4e27e81-video" 
                autoplay="" 
                loop="" 
                style="background-image:url(&quot;https://cdn.prod.website-files.com/6450ceffeba5aab3179b030a/6450eee4000ac132f945f05d_video-poster-00001.jpg&quot;)" 
                muted="" 
                playsinline=""
                data-wf-ignore="true" 
                data-object-fit="cover">
                    
                <source src="videos/video_vaso_sanguineo.mp4" data-wf-ignore="true">
                <!--<source src="https://cdn.prod.website-files.com/6450ceffeba5aab3179b030a/6450eee4000ac132f945f05d_video-transcode.webm" data-wf-ignore="true">-->
            </video>
        </div>

    </div>

    <div class="bg-overlay"></div>
</div>
