<div class="flab-header-container">
    <div class="flab-header-logo">
        <span class="flab-header-logo-title">The Franca Lab</span>
    </div>

    <div class="flab-header-nav">
        <ul nz-menu class="flab-header-nav-menu" nzMode="horizontal">
            <li nz-menu-item nzSelected>
                <a href="#home">Home</a>
            </li>
            <li nz-menu-item>
                <a href="#research">Research</a>
            </li> 
            <li nz-menu-item>
                <a href="#people">People</a>
            </li> 
            <li nz-menu-item>
                Publications
            </li>  
        </ul>
    </div>

    <div class="flab-header-contact-us">
        <button nz-button nzType="default" class="flab-header-contact-us-btn" nzGhost>Contact Us</button>
    </div>
</div>
