<div class="flab-header-container">
    <div class="flab-header-logo">
        <span class="flab-header-logo-title">The Franca Lab</span>
    </div>

    <div class="flab-header-nav">
        <ul nz-menu class="flab-header-nav-menu" nzMode="horizontal">
            <li nz-menu-item nzSelected>
                Home
            </li>
            <li nz-menu-item>
                People
            </li> 
            <li nz-menu-item>
                Research
            </li> 
            <li nz-menu-item>
                Publications
            </li> 
            <li nz-menu-item>
                Contacts
            </li> 
        </ul>
    </div>

    <div class="flab-header-contact-us">
        <button nz-button nzType="default" class="flab-header-contact-us-btn" nzGhost>Contact Us</button>
    </div>
</div>
